body{
    background-color: #f9d7f9;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    width: 100%;
    display: flex;
    margin-top: 1%;
    column-gap: 150px;
    justify-content: space-between;
}

.logo-header{
    margin-left: 5%;
    width: 15%;
}

li {
    list-style: none;
    height: 30px;
    padding-right: 39px;
    border-right: 1px solid #be8ede;
    color: #ceb3df;
    font-weight: 400;
    font-size: 17px;  
}

ul{
    display: flex;
    column-gap: 40px;
}

section{
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 100px;
    border: 2px solid #87fafa;
    border-radius: 10px;
    background-color: #cafafa;
    font-size: 35px;
    color: #f36fea;
    font-weight: 500;
    position: relative;
}
footer{

    background-color: #AB8EBF;
    bottom: 0;
    width: 100%;
    justify-content: center;
    position: absolute;
    display: flex;
}
h2{
    color: white;
    font-size: 22px;
}
